/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */
@font-face {
    font-family: CutTheCrap;
    src: url('../fonts/CutTheCrap.ttf');
}
@font-face {
    font-family: Autography;
    src: url('../fonts/Autography.otf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-family: 'CutTheCrap', sans-serif;
}
header span {
    font-family: 'Autography', sans-serif;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: #e7252f;
}

.texto-blanco-22 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 150px;
    font-weight: bold;
    color: #fcfff6;
}
.texto-blanco {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color: #fcfff6;
}

.texto-negro {
    color: #000;
}
.texto-celeste {
    color: #02fffd;
    margin-top: 20px;
    font-size: 50px !important;
    font-family: 'Autography', sans-serif;
}
.texto-amarillo {
    font-weight: lighter;
    color: #d1bd0c;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
    background: #ffffff;
}

#fp-nav ul li .fp-tooltip {
    color: #ffffff;
}

.fp-slidesNav ul {
    padding-left: 40px;
}

.fp-slidesNav ul li a span {
    background: #ffffff;
}

.fp-slidesNav ul::after {
    content: 'Desliza →';
    display: block;
    font-size: 20px;
    color: white;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    left: 0%;

    top: 90%;
    border-width: 30px 0 30px 30px;
}

.fp-controlArrow.fp-prev {
    left: -1000px;
    border-width: 30px 30px 30px 0;
    border-color: transparent #e7252f transparent transparent;
}

/* ------------------------- */
/* Menu de Navegación */
/* ------------------------- */

/* NAVBAR SECTION */
.navbar .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s ease;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.nav li.active a {
    color: #e7252f;
    font-weight: bolder;
    font-size: 21px;
    text-shadow: none;
}

.nav li:hover a {
    color: #e7252f;
}
.menu li a {
    transition: 0.5s ease;
    margin: 0;
    padding: 0;
}

/* ------------------------- */
/* Header */
/* ------------------------- */

.header {
    background: url('../media/fondonegro.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
}
.header .subtitle {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.header .subtitle-fecha {
    font-size: 24px;
    font-weight: bold;
}
.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    right: 50%;
    font-size: 40px;
    animation: bajar-subir 1.2s ease infinite;
}

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.header .btn-cta {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: lighter;
    background-color: #d1bd0c;
    color: #ffffff;
}

.header .btn-cta:hover {
    background-color: #a39409;
    color: white;
}
.icon:hover {
    color: #e7252f;
}

.section span {
    font-weight: bolder;
}

/* ------------------------- */
/* SECTION 2 */
/* ------------------------- */
.info article {
    background-size: cover;
}
.info article:nth-child(1) {
    background-image: url('../media/photos/IMG_18932.jpg');
}
.info article:nth-child(2) {
    background-image: url('../media/photos/slide2-1.jpg');
}
.info article:nth-child(3) {
    background-image: url('../media/photos/slide2-2.jpg');
}
.info article:nth-child(4) {
    background-image: url('../media/photos/map.jpg');
    background-size: contain;
}

.section .infocamp {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-left: 10%;
    padding-right: 10%;
}

/* SLIDE 1 */
.section .slide1 .infocamp {
    background-color: #e7252f;
    height: 100vh;
}

.section .slide2 .infocamp {
    background-color: #02fffd;
    height: 100vh;
}

.section .slide3 .infocamp {
    background-color: #d1bd0c;
    height: 100vh;
}

.section .slide4 .infocamp {
    background-color: #292929;
    height: 100vh;
}

.info .slide1 .infocamp h2 {
    font-size: 120px;
    color: #fcfff6;
    font-weight: bold;
}
.info .slide1 .infocamp .veintidos {
    color: #292929;
}
.info .slide1 .infocamp .dunamis {
    font-size: 36px;
    color: #af131b;
}

.info .slide1 .infocamp p {
    font-size: 22px;
    color: #fcfff6;
    font-weight: bold;
}

.info .slide1 .infocamp .regresan p {
    font-weight: lighter;
}

.info .slide1 .infocamp .fecha-ready {
    font-weight: bold;
}
.info .slide1 .infocamp .ready {
    color: #af131b;
}

/* SLIDE 2 */

.info .slide2 .infocamp h2 {
    font-size: 120px;
    color: #030303;
    font-weight: bold;
}

.info .slide2 .infocamp .amistades {
    color: #00b2b1;
}

.info .slide2 .infocamp p {
    font-size: 32px;
    color: #ffff;
}

.info .slide2 .infocamp h3 {
    text-align: end;
    font-weight: bold;
    color: #009998;
}

/* SLIDE 3 */

.info .slide3 .infocamp h2 {
    font-size: 120px;
    color: #292929;
    font-weight: bold;
}

.info .slide3 .infocamp .diversion {
    color: #877a08;
}

.info .slide3 .infocamp .actividades p {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 1px;
}

/* SLIDE 4 */
.info .slide4 .infocamp h2 {
    font-size: 120px;
    font-weight: bold;
    color: #ffff;
}
.info .slide4 .infocamp h2 .listos {
    color: #4f4f4f;
}
.info .slide4 .infocamp p {
    font-size: 36px;
    color: #fcfff6;
    font-weight: lighter;
}

/* ------------------------- */
/* SECTION 3 */
/* ------------------------- */

.precios {
    background: url('../media/photos/precios.jpg');
    background-position: top;
    background-size: cover;
}
.precios .card {
    color: #ffff;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.61);
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 24px;
    border-width: 4px;
    height: 100%;
}

.precios .card h2 {
    font-size: 72px;

    font-weight: bold;
}
.precios .card h2::before {
    content: 'S/.';
    color: #ffff;
    font-size: 40px;
}

.precios .card h2::after {
    content: '.00';
    color: #ffff;
    font-size: 40px;
}
.precios .card-blue .card {
    border-color: #02fffd;
}
.precios .card-blue .card span {
    color: #02fffd;
}

.precios .card-red .card span {
    color: #e7252f;
}
.precios .card-red .card {
    border-color: #e7252f;
}

.precios .card-yellow .card span {
    color: #d1bd0c;
}
.precios .card-yellow .card {
    border-color: #d1bd0c;
}

.precios .incluye {
    position: absolute;
    margin-top: 100px;
    font-size: 24px;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: normal;
}
/* ------------------------- */
/* SECTION 4 */
/* ------------------------- */
.contacto {
    background: url('../media/photos/IMG_2341.JPG');
    background-position: center;
    background-size: cover;
}
/* ------------------------- */
/* Footer */
/* ------------------------- */
.contacto .texto-naranja {
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.contacto h2 {
    text-align: center;
    opacity: 0;
    color: #d1bd0c;
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    transition: 1s ease all;
}
.contacto h3 {
    margin-top: 50px;
    color: #e5e5e5;
    text-align: center;
}
.contacto h4 {
    margin-top: 20px;
    text-align: center;
    color: #02fffd;
    font-size: 48px;
    font-weight: bold;
}

.contacto .redes-sociales {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 50px;
}

.contacto .redes-sociales a {
    display: flex;
    width: 100px;
    height: 100px;
    background: #fff;
    color: #30313a;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 20px;
}

.contacto .facebook i {
    color: #3b5998;
}
.contacto .instagram i {
    color: #c13584;
}
.contacto .whatsApp i {
    color: #25d366;
}

.contacto .facebook:hover {
    background: #3b5998;
}
.contacto .instagram:hover {
    background: #c13584;
}
.contacto .whatsApp:hover {
    background: #25d366;
}

.contacto .facebook:hover i {
    color: #fff;
}
.contacto .instagram:hover i {
    color: #fff;
}
.contacto .whatsApp:hover i {
    color: #fff;
}

/* media querys*/

@media screen and (max-width: 1660px) {
    /* SLIDE 1 */
    .info .slide1 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide1 .infocamp .dunamis {
        font-size: 36px;
    }

    .info .slide1 .infocamp p {
        font-size: 18px;
    }
    /* SLIDE 2 */
    .info .slide2 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide2 .infocamp p {
        font-size: 24px;
    }
    /* SLIDE 3 */
    .info .slide3 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide3 .infocamp .actividades p {
        font-size: 24px;
    }
    /* SLIDE 4 */
    .info .slide4 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide4 .infocamp p {
        font-size: 24px;
    }
    /* PRECIOS */
    .precios .card {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 60px;
        padding-bottom: 30px;
        font-size: 24px;
    }
    .precios .card h2 {
        font-size: 60px;
    }

    .precios .card h2::before {
        content: 'S/.';
        color: #ffff;
        font-size: 30px;
    }

    .precios .card h2::after {
        content: '.00';
        color: #ffff;
        font-size: 30px;
    }
    .precios .incluye {
        position: absolute;
        margin-top: 40px;
        font-size: 22px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .info article {
        background-size: cover;
        background-position: center;
    }

    .titulo-logo {
        width: 90%;
    }
    .info article:nth-child(2) {
        background-position: right;
    }
    .info article:nth-child(3) {
        background-position: left;
    }
    .info article:nth-child(4) {
        background-image: url('../media/photos/IMG_1440.JPG');
    }
    /* SLIDE 1 */
    .info .slide1 .infocamp h2 {
        font-size: 60px;
    }
    .info .slide1 .infocamp .dunamis {
        font-size: 30px;
    }

    .info .slide1 .infocamp p {
        font-size: 16px;
    }
    /* SLIDE 2 */
    .info .slide2 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide2 .infocamp p {
        font-size: 24px;
    }
    /* SLIDE 3 */
    .info .slide3 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide3 .infocamp .actividades p {
        font-size: 24px;
    }
    /* SLIDE 4 */
    .info .slide4 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide4 .infocamp p {
        font-size: 24px;
    }
    /* PRECIOS */
    .precios .card {
        padding-left: 20px;
        margin-left: 40px;
        margin-right: 40px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .precios .card h2 {
        font-size: 50px;
    }

    .precios .card h2::before {
        content: 'S/.';
        color: #ffff;
        font-size: 20px;
    }

    .precios .card h2::after {
        content: '.00';
        color: #ffff;
        font-size: 20px;
    }
    .precios .incluye {
        position: absolute;
        margin-top: 40px;
        font-size: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 768px) {
    .titulo {
        font-size: 75px !important;
    }
    .titulo-logo {
        width: 90%;
    }
    .texto-blanco-22 {
        font-size: 70px;
    }
    .subtitle {
        font-size: 20px !important;
    }
    /* SLIDE 1 */
    .info .slide1 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide1 .infocamp .dunamis {
        font-size: 36px;
    }

    .info .slide1 .infocamp p {
        font-size: 18px;
    }
    /* SLIDE 2 */
    .info .slide2 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide2 .infocamp p {
        font-size: 24px;
    }
    /* SLIDE 3 */
    .info .slide3 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide3 .infocamp .actividades p {
        font-size: 24px;
    }
    /* SLIDE 4 */
    .info .slide4 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide4 .infocamp p {
        font-size: 24px;
    }
    /* PRECIOS */
    .precios .card {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .precios .card h2 {
        font-size: 50px;
    }
    .precios .card p {
        margin-top: 3px !important;
    }

    .precios .card h2::before {
        content: 'S/.';
        color: #ffff;
        font-size: 20px;
    }

    .precios .card h2::after {
        content: '.00';
        color: #ffff;
        font-size: 20px;
    }
    .precios .incluye {
        position: absolute;
        margin-top: 5px;
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media screen and (max-width: 644px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        font-size: 15px;
    }
    .nav li,
    a {
        margin-right: 2px !important;
        margin-left: 2px !important;
    }
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 18px !important;
    }
    .contacto h2 {
        font-size: 40px !important;
    }

    .contacto h3 {
        font-size: 20px !important;
    }

    .contacto h4 {
        font-size: 30px !important;
    }

    .contacto .redes-sociales a {
        width: 50px;
        height: 50px;
    }

    .contacto .redes-sociales a i {
        font-size: 24px;
    }
}

@media screen and (max-width: 510px) {
    h2 {
        font-size: 70px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 20px !important;
    }
    /* PRECIOS */
    .precios .card {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 0;
        font-size: 10px;
        margin-bottom: 10px;
        margin-left: 45px;
        margin-right: 45px;
    }
    .precios .card h2 {
        font-size: 50px;
    }
    .precios .card p {
        margin-top: 3px !important;
    }

    .precios .card h2::before {
        content: 'S/.';
        color: #ffff;
        font-size: 20px;
    }

    .precios .card h2::after {
        content: '.00';
        color: #ffff;
        font-size: 20px;
    }
    .precios .incluye {
        position: absolute;
        margin-top: 10px;
        font-size: 15px !important;
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media screen and (max-width: 425px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        font-size: 15px;
    }
    .nav li,
    a {
        margin-right: 3px !important;
        margin-left: 3px !important;
    }
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 18px !important;
    }
    .contacto h2 {
        font-size: 40px !important;
    }

    .contacto h3 {
        font-size: 20px !important;
    }

    .contacto h4 {
        font-size: 30px !important;
    }

    .contacto .redes-sociales a {
        width: 50px;
        height: 50px;
    }

    .contacto .redes-sociales a i {
        font-size: 24px;
    }
}
@media screen and (max-width: 375px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        font-size: 12px;
    }
    .nav li,
    a {
        margin-right: 2px !important;
        margin-left: 2px !important;
    }
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 16px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}
@media screen and (max-width: 360px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        font-size: 12px;
    }
    .nav li,
    a {
        margin-right: 1px !important;
        margin-left: 1px !important;
    }
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 18px !important;
    }
    .contacto h2 {
        font-size: 40px !important;
    }

    .contacto h3 {
        font-size: 20px !important;
    }

    .contacto h4 {
        font-size: 30px !important;
    }

    .contacto .redes-sociales a {
        width: 50px;
        height: 50px;
    }

    .contacto .redes-sociales a i {
        font-size: 24px;
    }
}
@media screen and (max-width: 320px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        font-size: 10px;
    }
    .nav li,
    a {
        margin-right: 1px !important;
        margin-left: 1px !important;
    }
    h2 {
        font-size: 40px !important;
    }
    p {
        font-size: 14px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}
