/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: #da2929;
}

.texto-blanco {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
}

.texto-negro {
    color: #000;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
    background: #da2929;
}

#fp-nav ul li .fp-tooltip {
    color: #da2929;
}

.fp-slidesNav ul {
    padding-left: 40px;
}

.fp-slidesNav ul li a span {
    background: #ffffff;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    top: 95%;

    border-width: 30px 0 30px 30px;
    border-color: transparent transparent transparent #da2929;
}

.fp-controlArrow.fp-prev {
    left: -1000px;
    border-width: 30px 30px 30px 0;
    border-color: transparent da2929 transparent transparent;
}

/* ------------------------- */
/* Menu de Navegación */
/* ------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin-left: 10px;
    padding: 10px 40px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s ease;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.nav li.active a {
    color: #da2929;
    font-weight: bolder;
    font-size: 21px;
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.932);
}

.nav li:hover a {
    color: #da2929;
}
.menu li a {
    transition: 0.5s ease;
    margin: 0;
    padding: 0;
}

/* ------------------------- */
/* Header */
/* ------------------------- */

.header {
    background: url('../media/dx3.jpg');
    background-position: center;
    background-size: cover;
}

.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
}
.header .subtitle {
    font-size: 24px;
    font-weight: normal;
}
.header .subtitle-fecha {
    font-size: 24px;
    font-weight: bold;
}
.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: bajar-subir 1.2s ease infinite;
}

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.header .btn-cta {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: lighter;
    background-color: #da2929;
    color: #ffffff;
}

.header .btn-cta:hover {
    background-color: rgb(143, 18, 18);
    color: white;
}
.icon:hover {
    color: #da2929;
}

.section2 article {
    background-size: cover;
}
.section2 article:nth-child(1) {
    background-image: url('../media/photos/IMG_18932.jpg');
}
.section2 article:nth-child(2) {
    background-image: url('../media/photos/slide2-1.jpg');
}
.section2 article:nth-child(3) {
    background-image: url('../media/photos/slide2-2.jpg');
}
.section2 article:nth-child(4) {
    background-image: url('../media/pampas.jpg');
}

.section span {
    font-weight: bolder;
}
.section .info {
    background-color: #da2929;
    height: 100vh;
}
.section .infocamp {
    height: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 40px;
    padding-right: 40px;
}
.section2 h2 {
    font-weight: bold;

    font-size: 100px;
}

.section2 .par-1 {
    font-weight: bold;
    font-size: 22px;
}
.section2 .par-2 {
    font-weight: lighter;
    font-size: 22px;
}
.section2 .par-3 {
    font-weight: bolder;
    font-size: 24px;
}
.section2 .par-4 {
    font-weight: bolder;
    font-size: 24px;
    color: #882323;
}
.section2 .veintidos {
    color: #802020;
}

.section2 h2 .dunamis {
    font-size: 36px;
    color: #9c2c2c;
}
.section2 .par-11 {
    font-size: 32px;
}
.section2 .par-22 {
    text-align: end;
    font-size: 32px;

    color: #882323;
}
.section2 .infocampx h2 {
    font-weight: bold;

    font-size: 100px;
}
.section2 .imagemap {
}

.section3 {
    background: url('../media/bg-imagen3.jpg');
    background-position: center;
    background-size: cover;
}

.section4 {
    background: url('../media/photos/IMG_1925.JPG');
    background-position: center;
    background-size: cover;
}

/* media querys*/

@media screen and (max-width: 768px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        opacity: 0;
    }
    .titulo {
        font-size: 75px !important;
    }
    .subtitle {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 510px) {
    h2 {
        font-size: 75px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 410px) {
    h2 {
        font-size: 60px !important;
    }
    p {
        font-size: 14px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}
