/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

#header h1,
#header h2,
#header h3,
#header h4,
#header h5,
#header h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: #e7252f;
}

.texto-blanco {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    color: #fff;
}

.texto-negro {
    color: #000;
}

/* ------------------------- */
/* Clases de Fullpage.js */
/* ------------------------- */
#fp-nav ul li a span {
    background: #ffffff;
}

#fp-nav ul li .fp-tooltip {
    color: #ffffff;
}

.fp-slidesNav ul {
    padding-left: 40px;
}

.fp-slidesNav ul li a span {
    background: #ffffff;
}

.fp-slidesNav ul::after {
    content: 'Desliza →';
    display: block;
    font-size: 20px;
    color: white;
}

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev {
    left: 0%;

    top: 90%;
    border-width: 30px 0 30px 30px;
}

.fp-controlArrow.fp-prev {
    left: -1000px;
    border-width: 30px 30px 30px 0;
    border-color: transparent #e7252f transparent transparent;
}

/* ------------------------- */
/* Menu de Navegación */
/* ------------------------- */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin-left: 10px;
    padding: 10px 40px;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s ease;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.nav li.active a {
    color: #e7252f;
    font-weight: bolder;
    font-size: 21px;
    text-shadow: none;
}

.nav li:hover a {
    color: #e7252f;
}
.menu li a {
    transition: 0.5s ease;
    margin: 0;
    padding: 0;
}

/* ------------------------- */
/* Header */
/* ------------------------- */

.header {
    background: url('../media/dx3.jpg');
    background-position: center;
    background-size: cover;
}

.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}

.header .titulo {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
}
.header .subtitle {
    font-size: 24px;
    font-weight: normal;
}
.header .subtitle-fecha {
    font-size: 24px;
    font-weight: bold;
}
.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: bajar-subir 1.2s ease infinite;
}

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

.header .btn-cta {
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: lighter;
    background-color: #e7252f;
    color: #ffffff;
}

.header .btn-cta:hover {
    background-color: rgb(143, 18, 18);
    color: white;
}
.icon:hover {
    color: #e7252f;
}

.section span {
    font-weight: bolder;
}

/* ------------------------- */
/* SECTION 2 */
/* ------------------------- */
.info article {
    background-size: cover;
}
.info article:nth-child(1) {
    background-image: url('../media/photos/IMG_18932.jpg');
}
.info article:nth-child(2) {
    background-image: url('../media/photos/slide2-1.jpg');
}
.info article:nth-child(3) {
    background-image: url('../media/photos/slide2-2.jpg');
}
.info article:nth-child(4) {
    background-image: url('../media/photos/map.jpg');
    background-size: contain;
}

.section .infocamp {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    padding-left: 10%;
    padding-right: 10%;
}

/* SLIDE 1 */
.section .slide1 .infocamp {
    background-color: #e7252f;
    height: 100vh;
}

.section .slide2 .infocamp {
    background-color: #02fffd;
    height: 100vh;
}

.section .slide3 .infocamp {
    background-color: #d1bd0c;
    height: 100vh;
}

.section .slide4 .infocamp {
    background-color: #292929;
    height: 100vh;
}

.info .slide1 .infocamp h2 {
    font-size: 120px;
    color: #fcfff6;
    font-weight: bold;
}
.info .slide1 .infocamp .veintidos {
    color: #292929;
}
.info .slide1 .infocamp .dunamis {
    font-size: 36px;
    color: #af131b;
}

.info .slide1 .infocamp p {
    font-size: 22px;
    color: #fcfff6;
    font-weight: bold;
}

.info .slide1 .infocamp .regresan p {
    font-weight: lighter;
}

.info .slide1 .infocamp .fecha-ready {
    font-weight: bold;
}
.info .slide1 .infocamp .ready {
    color: #af131b;
}

/* SLIDE 2 */

.info .slide2 .infocamp h2 {
    font-size: 120px;
    color: #030303;
    font-weight: bold;
}

.info .slide2 .infocamp .amistades {
    color: #00b2b1;
}

.info .slide2 .infocamp p {
    font-size: 32px;
    color: #ffff;
}

.info .slide2 .infocamp h3 {
    text-align: end;
    font-weight: bold;
    color: #009998;
}

/* SLIDE 3 */

.info .slide3 .infocamp h2 {
    font-size: 120px;
    color: #292929;
    font-weight: bold;
}

.info .slide3 .infocamp .diversion {
    color: #877a08;
}

.info .slide3 .infocamp .actividades p {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 1px;
}

/* SLIDE 4 */
.info .slide4 .infocamp h2 {
    font-size: 120px;
    font-weight: bold;
    color: #ffff;
}
.info .slide4 .infocamp h2 .listos {
    color: #4f4f4f;
}
.info .slide4 .infocamp p {
    font-size: 36px;
    color: #fcfff6;
    font-weight: lighter;
}

/* ------------------------- */
/* SECTION 3 */
/* ------------------------- */

.section3 {
    background: url('../media/bg-imagen3.jpg');
    background-position: center;
    background-size: cover;
}

/* ------------------------- */
/* SECTION 4 */
/* ------------------------- */
.section4 {
    background: url('../media/photos/IMG_1925.JPG');
    background-position: center;
    background-size: cover;
}
/* media querys*/

@media screen and (max-width: 1660px) {
    /* SLIDE 1 */
    .info .slide1 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide1 .infocamp .dunamis {
        font-size: 36px;
    }

    .info .slide1 .infocamp p {
        font-size: 18px;
    }
    /* SLIDE 2 */
    .info .slide2 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide2 .infocamp p {
        font-size: 24px;
    }
    /* SLIDE 3 */
    .info .slide3 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide3 .infocamp .actividades p {
        font-size: 24px;
    }
    /* SLIDE 4 */
    .info .slide4 .infocamp h2 {
        font-size: 80px;
    }
    .info .slide4 .infocamp p {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .menu .logo,
    .menu li a,
    .menu li.active a {
        opacity: 0;
    }
    .titulo {
        font-size: 75px !important;
    }
    .subtitle {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 510px) {
    h2 {
        font-size: 70px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 18px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}
@media screen and (max-width: 375px) {
    h2 {
        font-size: 50px !important;
    }
    p {
        font-size: 16px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 40px !important;
    }
    p {
        font-size: 14px !important;
    }
    h5 {
        font-size: 18px !important;
    }
}
